@media(min-width:1440px){
    .background{
        background:#F2ECE2;
    }
    .img-1st{
        margin: 0px;
    }
    .text1{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 40px;
        letter-spacing: 1px;
        padding-left: 65px;
        margin-top: 147px;
        line-height: 22px
    }
    .text2{
        font-size: 42px ;
        line-height: 48px ;
        margin-bottom: 40px;
        padding-left: 65px;
        font-weight: 700;
        letter-spacing: normal;
        margin-right: -5px;
    }
    .text2-color{
        color: rgb(228, 30, 87);
    }
    .button-color{
        background:#F2ECE2;
        border: 0px;
        padding-left: 65px;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: -1px;
        text-decoration: underline;
        padding-bottom: 165px;
    }
    .card1{
        margin-top: 32px;
        margin-left: 45px;
        margin-right: 108px;
    }
    .card{
        border: none;
    }
    .card-title1{
        color: #222222 ;
        font-size: 18px ;
        line-height: 24px ;
        margin-top: 10px ;
        margin-bottom: 24px;
        margin-left: 14px;
        font-weight: normal;
    }
    .border-list{
        border: 0px;
        margin-top: 35px;
    }
    .list-address{
        border-radius: 5px;
        border: 1px solid grey;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-left: 10px;
        padding-left: 15px;
    }
    .dropdown1{
        border: 1px solid grey;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 385px;
        border-radius: 5px;
        margin-left: 10px;
    }
    .dropdown2{
        border: 1px solid grey;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 372px;
        border-radius: 5px;
        margin-left: 10px;
    }
    .sp-guest{
        font-weight: 600;
        margin: 10px;
    }
    .start{
        margin-top: 0px;
        background: black;
        color: white;
        margin: 10px;
        margin-top: -45px;
        padding-bottom: 15px;
        text-align: center;
        border-radius: 8px;
        font-size: 18px;
        padding-left: 177px;
        padding-right: 164px;
        padding-top: 10px;
        font-weight: bold;
        margin-left: 0px;
    }
    .hosting-works{
        font-size: 42px;
        line-height: 44px;
        font-weight: bold;
        padding-left: 75px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
   
    .row-img{
        margin-left: 55px;
    }
    .card-title{
        font-weight: 600 ;
        color: #333333 ;
        font-size: 24px ;
        line-height: 30px ;
        margin-top: 24px ;
        margin-bottom: 16px ;
        margin-right: 15px;
    }
    .card-text{
        margin-right: 35px;
    }
    .color-LM{
        color: black;
        text-decoration: underline;
    }
    .padding-body{
        padding-left:0px ;
        padding-top: 0px;
    }
    .text-join{
        font-size: 48px;
        line-height: 48px;
        font-weight: bold;
        padding-left: 42px;
        margin-top: 72px;
        margin-bottom: 50px;
        margin-top: 276px;
        margin-right: -20px;
    }
    .text-body{
        max-width: 360px ;
        margin-top: 32px ;
        margin-bottom: 32px ;
        font-size: 18px;
        padding-left: 42px;
        margin-right: 0px;
    }
    .button-getstart{
        background: var(--dls19-brand-gradient-radial, radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ));
        border-radius: 10px;
        border: none;
        margin-left: 42px;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 32px 16px 32px;
        margin-bottom: 276px;
    }
    .card-title2{
        padding-left: 70px;
        margin-bottom: 16px ;
        font-weight: 600 ;
        font-size: 24px ;
        line-height: 30px ;
        margin-right: 0px;
    }
    .card-text2{
        padding-left: 70px;
        margin-right: 15px;
    }
    .button-2{
        padding-left: 70px;
        font-weight: 600;
        color:#717171 ;
        text-decoration: underline;
    }
    .img-potition{
        padding-left: 70px;
        margin: -7px 0px 30px 0px;
    }
    .card-row{
        padding-right: 50px;
        margin-bottom: 135px;
    }
    .margin-title{
        margin-top:150px ;
    }
    .hosting-works1{
        font-size: 42px;
        line-height: 44px;
        font-weight: bold;
        padding-left: 75px;
        margin-top: -90px;
        margin-bottom: 50px;
    }
    .margin-title2{
        margin-top:65px ;
        font-weight: bold;
        margin-left: 0px;
    }
    .margin-body2{
        margin-right: 200px;
        margin-left: 0px;
        font-weight: normal
    }
    .margin-title3{
        font-weight: 700;
        margin-top:30px ;
        margin-left: 0px
    }
    .margin-body3{
        margin-bottom: 80px;
        margin-right: 200px;
        margin-left: 30px;
    }
    .text-titlehost{
        font-size: 42px;
        line-height: 42px;
        font-weight: bold;
        padding-left: 80px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .bckgrnd-footer{
        background-color:  #F7F7F7;
    }
    .text-body2{
        font-size: 24px ;
        line-height: 32px ;
        margin-bottom: 24px ;
        margin-right: 150px;
        margin-top: 50px;
        padding-left: 0px
    }
    .button-getstart2{
        background: var(--dls19-brand-gradient-radial, radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ));
        border-radius: 10px;
        border: none;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 32px 16px 32px;
        margin-bottom: 100px;
        margin-left: 0px;
    }
    .button-3{
        padding-left: 39px;
        font-weight: normal;
        color: black;
        font-size: 14px;
    }
    .text-about1{
        padding-left: 55px;
        font-weight: bold;
        font-size: 12px;
    }
    .text-about{
        padding-left: 55px;
        font-weight: bold;
        font-size: 12px;
    }
    .margin-img{
        padding-right: 20px;
        margin-left: -20px;
    }    
}