@media(min-width:1024px){
    .header--background{
        background:#F2ECE2;
    }
    .container-fluid--text-1{
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 20px;
        letter-spacing: 1px;
        padding-left: 25px;
        margin-top: 145px;
        line-height: 16px;
    }        
    .container-fluid--text-2{
        font-size: 32px ;
        line-height: 40px ;
        margin-bottom: 40px;
        padding-left: 25px;
        font-weight: 700;
        letter-spacing: 0px;
        margin-right: -5px;
    }
    .container-fluid--text-2-color{
        color: rgb(228, 30, 87);
    }
    .container-fluid__button--color{
        background:#F2ECE2;
        border: 0px;
        padding-left: 25px;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: -1px;
        text-decoration: underline;
        padding-bottom: 165px;
    }
    .card--registry{
        margin-top: 35px;
        margin-left: 0px;
        margin-right: 35px;
    }
    .card{
        border: none;
    }
    .card__title--text-1{
        color: #222222;
        font-size: 18px;
        line-height: 24px;
        margin-top: 4px;
        margin-bottom: -10px;
        margin-left: 13px;
        font-weight:normal;
    }
    .list__border{
        border: 0px;
        margin-top: 35px;
    }
    .list--address{
        border-radius: 5px;
        border: 1px solid grey;
        padding-top: 18px;
        padding-bottom: 18px;
        margin-left: 10px;
        padding-left: 15;
    }
    .list__dropdown--entire-place{
        border: 1px solid grey;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 363px;
        border-radius: 5px;
        margin-left: 10px;
    }
    .list__dropdown--guest{
        border: 1px solid grey;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 372px;
        border-radius: 5px;
        margin-left: 10px;
    }
    .list--sp-guest{
        font-weight: 600;
        margin: 10px;
    }
    .card__button--start{
        margin-top: 0px;
        background: black;
        color: white;
        margin: 10px;
        margin-top: -45px;
        padding-bottom: 17px;
        text-align: center;
        border-radius: 8px;
        font-size: 18px;
        padding-left: 139px;
        padding-right: 130px;
        padding-top: 15px;
        font-weight: bold;
        margin-left: 40px;
    }
    .section__works--concept{
        font-size: 42px;
        line-height: 42px;
        font-weight: bold;
        padding-left: 40px;
        margin-top: 72px;
        margin-bottom: 50px;
    }
    .section__img--row{
        margin-left: 10px;
    }
    .card__title--text{
        font-weight: 600 ;
        color: #333333 ;
        font-size: 24px ;
        line-height: 30px ;
        margin-top: 24px ;
        margin-bottom: 16px ;
    }
    .card__text--body{
        margin-right: 30px;
        font-size: 18px;
    }
    .card__link--color{
        color: black;
        text-decoration: underline;
    }
    .card__body--padding{
        padding-left:0px ;
    }
    .card__title--text-join{
        font-size: 48px;
        line-height: 48px;
        font-weight: bold;
        padding-left: 3px;
        margin-top: 72px;
        margin-bottom: 35px;
        margin-top: 276px;
        margin-right: -15px;
    }
    .card__text--body{
        max-width: 360px ;
        margin-top: 32px ;
        margin-bottom: 32px ;
        font-size: 18px;
        padding-left: 3px;
        margin-right: 0px;
    }
    .card__button--getstart{
        background: var(--dls19-brand-gradient-radial, radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ));
        border-radius: 10px;
        border: none;
        margin-left: 0px;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 32px 16px 32px;
        margin-bottom: 276px;
    }
    .card__body--text-2{
        padding-left: 30px;
        margin-bottom: 16px ;
        font-weight: 600 ;
        font-size: 24px ;
        line-height: 30px ;
        margin-right: 0px;
    }
    .card__body--text-2{
        padding-left: 30px;
        margin-right: 32px;
    }
    .card__button--text-2{
        padding-left: 29px;
        font-weight: 600;
        color: #717171;
        text-decoration: underline;
    }
    .card__img--potition{
        padding-left: 30px;
        margin: 20px 0px 30px 0px;
    }
    .card--rows{
        padding-right: 50px;
        margin-bottom: 35px;
    }
    .goal__title--margin{
        margin-top:150px ;
    }
    .section__works--concept-1{
        font-size: 42px;
        line-height: 44px;
        font-weight: bold;
        padding-left: 35px;
        margin-top: -90px;
        margin-bottom: 50px;
    }
    .goal__title--margin-2{
        margin-top:70px ;
        font-weight: bold;
        font-size: 18px;
        margin-left: 0px;
    }
    .goal__body--margin-2{
        margin-right: 60px;
        margin-left: 0px;
        font-size: 18px;
        font-weight: normal;
    }
    .goal__title--margin-3{
        font-weight: 700;
        margin-top:30px ;
        font-size: 18px;
        margin-left: 0px
    }
    .goal__text--title-host{
        font-size: 42px;
        line-height: 48px;
        font-weight: bold;
        padding-left: 25px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .footer--background-color{
        background-color:  #F7F7F7;
    }
    .goal__body--text-2{
        font-size: 24px ;
        line-height: 32px ;
        margin-bottom: 24px ;
        margin-right: 100px;
        margin-top: 50px;
        padding-left: 0px
    }
    .goal__button--get-start{
        background: var(--dls19-brand-gradient-radial, radial-gradient(circle at center, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% ));
        border-radius: 10px;
        border: none;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 32px 16px 32px;
        margin-bottom: 100px;
        margin-left: 0px;
    }
    .footer__button--three{
        padding-left: 25px;
        font-weight: normal;
        color: black;
        font-size: 14px;
    }
    .footer__button--title{
        padding-left: 40px;
        font-weight: bold;
        font-size: 12px;
    }
    .goal__img--margin{
        padding-right: 20px;
        margin-left: -20px;
    }
    .footer--border-bot{
        border-bottom: 1px solid gainsboro;
    }
    .footer--position{
        text-align: center;
    }
}