@media (min-width: 1024px) {
    .header__button--color{
        background: #0699A6;
        border-radius: 0px;
        width: 225px;
        height: 60px;
        margin-left: 125px;
    }
    .header__image--potition{
        width: 350px;
        height: 350px;
        margin-top: 180px;
        margin-left: 70px;
    }
    .header__image--shape{
        color: #9E8C6C;
        width: 152px;
        height: 152px;
        margin-left: 270px;
        margin-top: -110px;
    }
    .header__button--color{
        color: #9E8C6C;
        text-transform: uppercase;
        font-family: PT Sans Narrow;
        font-size: 18px;
        letter-spacing: 2px;
        margin-top: 180px;
        text-align: left;
        padding-left: 125px;
    }
    .header__name--people{
        font-family: Playfair Display;
        font-size: 100px;
        font-weight: 900;
        line-height: 112px;
        padding-top: 13px;
        letter-spacing: -2px;
        text-align: left;
        margin-left: 124px;
    }
    .header--background{
        background: #FEF4E1;
        width: 100%;
        height: 747px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 82%, 0 100%);
        padding-top: 0px;
    }
    .excellence__list-left-visual{
        list-style-type: none;
        margin-left: -40px;
        padding-bottom: 0px;
    }
    .excellence__title--skillset{
        font-size: 18px;
        color: #9E8C6C;
        font-family: pt sans Narrow;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .excellence__list--skillset-visual {
        letter-spacing: -1px;
        font-weight: normal;
        font-size: 20px;
        width: 350px;
        height: 204px;
        margin-bottom: 100px;
    }
    .excellence__title--frame{
        font-family: Playfair Display;
        font-weight: 900;
        font-size: 36px;    
        margin-bottom: 20px;
    }
    .excellence__body--frame{
        font-family: PT Sans Narrow;
        width: 635px;
        height: 170px;
        font-size: 20px;
        margin-bottom: 66px;
        letter-spacing: -1px;
    }
    .excellence__body--frame{
        font-family: PT Sans Narrow;
        width: 635px;
        height: 170px;
        font-size: 20px;
        margin-bottom: 0px;
        letter-spacing: -1px;
    }
    .excellence__image--rectangle-2{
        width: 71px;
        height: 10px;
        margin-bottom: 66px;
        margin-top: 80px;
    }
    .excellence__list--padding{
        padding-bottom: 0px;
    }
    .excellence__title--margin{
        margin-top: 0px
    }
    .excellence__name--skillset{
        font-size: 18px;
        color: #9E8C6C;
        letter-spacing: 0px;
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: -15px;
        padding-top:0px
    }
    .excellence__name--skillset-2{
        width: 460px;
        height: 24px;
        color: #9E8C6C;
        font-weight: bold;
        margin-left: -15px;
        letter-spacing: 0px;
        font-size: 16px;
        padding-bottom: 78px;
    }
    .footer__title--end{
        margin-top: 177px;
        text-align: center;
        font-size: 66px;
        font-weight: 900;
        letter-spacing: -1px;
        font-family: Playfair Display;
        padding-bottom: 40px;
    }
    .footer__email--font{
        font-family: Playfair Display;
        font-weight: 900;
        font-size: 36px;
        text-align: center;
        color: #0699A6;
        padding-bottom: 66px;
    }
    .footer__images--potition{
        display: block;
         margin-left: auto;
        margin-right: auto;
        margin-bottom: 111px;
    }
    .footer__bacground--color{
        background: #FEF4E1;
        -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
        padding-top: 1px;
        padding-bottom: 1px;
        width:100%;
    }
    .excellence__text-padding-bottom{
        padding-bottom: 66px;
        padding-right: 59px;
        font-size: 16px;
    }
    .excellence__title--color{
        color: #9E8C6C;
        margin-top: 0px;
        margin-top: 300px;
    }
    .excellence__text--padding{
        margin-left: 0px;
        margin-right: 0px;
    }
    .excellence__text-padding-bottom-1{
        padding-right: 59px;
        font-size: 16px;
    }
    .excellence__date--padding{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom:0px
    }
}