@media(min-width:1440px){
    .header__name--people{
        font-size: 126px; 
    }
    .header__image--potition{
        margin-left: 165px;
    }
    .header__image--shape{
        margin-left: 403px;
    }
    .footer__bacground--color{
        width: 100%;
    }
    .excellence__title--frame{
        margin-top: -15px;
    }
    .frame11-taxt{
        margin-bottom: 0px;
    }
    .excellence__image--rectangle-2{
        margin-bottom: 66px;
        margin-top: 80px;
    }
    .excellence__text-padding-bottom{
        padding-bottom: 66px;
        font-size: 20px;
    }
    .excellence__text-padding-bottom-1{
        font-size: 20px;
    }
    .excellence__title--color{
        color: #9E8C6C;
        padding-top: 350px;
    }
    .excellence__text--padding{
        margin-left: 0px;
        margin-right: 0px;
    }
    .excellence__list-left-visual{
        list-style-type: none;
        margin-left: -40px;
        padding-bottom: 0px;
    }
    .excellence__date--padding{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom:0px
    }
    .excellence__name--skillset{
        padding-top:0px
    }
}