@media (min-width: 320px) {
    .header--background{
        background: #FEF4E1; 
        width: 100%;
        height: 747px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        padding-top: 110px;
    }
    .header__image--potition{
        width: 160px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header__button--color{
        color: #9E8C6C;
        text-transform: uppercase;
        font-family: PT Sans Narrow;
        font-size: 18px;
        letter-spacing: 0px;
        text-align: center;
        padding-bottom: 0px;
    }
    .header__image--shape{
        width: 100px;
        margin-top: -200px;
        margin-left: 200px;
    }
    .header__name--people{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 900;
        font-size: 56px;
        line-height: 46px;
        text-align: center;
        margin-top: 14px;
        margin-left:15px;
    }
    .header__button--color{
        background: #0699A6;
        border-radius: 0px;
        width: 225px;
        height: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .button-margin{
        margin-top: 40px;
        margin-bottom: 100px;
    }
    .excellence__title--frame{
        font-family: Playfair Display;
        font-weight: 900;
        font-size: 36px;    
        margin-bottom: 20px;
    }
    .excellence__body--frame{
        font-family: PT Sans Narrow;
        font-size: 20px;
        margin-bottom: 40px;
        letter-spacing: -1px;
        width: 100%;
    }
    .excellence__name--skillset{
        font-size: 18px;
        color: #9E8C6C;
        letter-spacing: 0px;
        margin-bottom: 0px;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .frame-margin{
        margin-left: 20px;
        margin-right: 20px;
    }
    .excellence__image--rectangle-2{
        width: 54px;
        height: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .frame-date{
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .excellence__name--skillset-2{
        width: 333px;
        height: 48px;
        color: #9E8C6C;
        font-weight: bold;
        margin-left: 0px;
        letter-spacing: 0px;
        font-size: 16px;
        padding-bottom: 8px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .frame-margin{
        margin-left: 20px;
        margin-right: 20px;
        width: 375px;
    }
    .excellence__title--skillset{
        font-size: 18px;
        color: #9E8C6C;
        font-family: pt sans Narrow;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    .excellence__list--padding{
        padding-bottom: 60px;
    }
    .excellence__list--skillset-visual {
        letter-spacing: -1px;
        font-weight: normal;
        font-size: 18px;
        height: 204px;
    }
    .excellence__list-left-visual{
        list-style-type: none;
        margin-left: -40px;
        padding-bottom: 100px;
    }
    .excellence__text-padding-bottom{
        padding-bottom: 34px;
    }
    .excellence__title--margin{
        margin-top: 60px;
    }
    .footer__title--end{
        margin-top: 177px;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: -1px;
        font-family: Playfair Display;
        padding-bottom: 40px;
    }
    .footer__bacground--color{
        background: #FEF4E1;
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    .footer__email--font{
        font-family: Playfair Display;
        font-weight: 900;
        font-size: 30;
        text-align: center;
        color: #0699A6;
        padding-bottom: 66px;
    }
    .footer__images--potition{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 111px;
    }
    .excellence__text-padding-bottom-1{
        padding-right: 0px;
        font-size: 0px;
    }
    .excellence__text--padding{
        margin-left: 20px;
        margin-right: 20px;
    }
    .excellence__title--color{
        color: #9E8C6C;
        padding-top: 100px;
    }
    .excellence__text--padding{
        margin-left: 0px;
        margin-right: 0px;
    }
    .excellence__list-left-visual{
        list-style-type: none;
        margin-left: -40px;
        padding-bottom: 0px;
    }
    .excellence__date--padding{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom:20px
    }
    .excellence__name--skillset{
        padding-top:0px;
        padding-left: 0px;
        padding-right: 0px;
    } 
    .excellence__text--padding{
        margin-left: 20px;
        margin-right: 20px;
    }
    .excellence__body--frame{
        font-family: PT Sans Narrow;
        height: 170px;
        font-size: 20px;
        margin-bottom: 200px;
        letter-spacing: -1px;
    }
}
